/course-recommendation/.phpunit.cache
/course-recommendation/node_modules
/course-recommendation/public/build
/course-recommendation/public/hot
/course-recommendation/public/storage
/course-recommendation/storage/*.key
/course-recommendation/storage/pail
/course-recommendation/vendor
/course-recommendation/.env
/course-recommendation/.env.backup
/course-recommendation/.env.production
/course-recommendation/.phpactor.json
/course-recommendation/.phpunit.result.cache
/course-recommendation/Homestead.json
/course-recommendation/Homestead.yaml
/course-recommendation/npm-debug.log
/course-recommendation/yarn-error.log
/course-recommendation/auth.json
/course-recommendation/.fleet
/course-recommendation/.idea
/course-recommendation/.nova
/course-recommendation/.vscode
/course-recommendation/.zed

/Course-Recommendation-SystemClone/__pycache__/
/Course-Recommendation-SystemClone/*.py[cod]
/Course-Recommendation-SystemClone/venv/
/Course-Recommendation-SystemClone/.ipynb_checkpoints/
/Course-Recommendation-SystemClone/.idea/
/Course-Recommendation-SystemClone/.vscode/

/Course-Recommendation-SystemClone/cache/
/Course-Recommendation-SystemClone/__pycache__cache/
/Course-Recommendation-SystemClone/logs/
/Course-Recommendation-SystemClone/*.pkl

/Course-Recommendation-SystemClone/*.db

/Course-Recommendation-SystemClone/env/
